<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script defer src="static/face-api.min.js"></script>
    <script defer src="static/script.js"></script> -->

   <script  src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>
    <script defer src="static/script3.js"> </script>
    <!--<script defer src="static/face-api.min.js"></script>
    <script defer src="static/script4.js"> </script>-->
</head>
<body>

<div style="background:#ace7ef;width:100%;border:10px ridge #4592af;">
    <div align="center">
        <video  style="margin-left:50px;" id="video"  height="300" width="400" autoplay muted></video>
        <canvas id="canvas" height="300" width="400" ></canvas>
    </div>
</div>

</body>
</html>